<div class="header">
  <div class="header-left">
    <div class="logo">
      <img src="../assets/images/myntra-logo.png" alt="">
    </div>
    <div class="menu">
      <ul>
        <li><a href="#">MEN</a></li>
        <li><a href="#">WOMEN</a></li>
        <li><a href="#">KIDS</a></li>
        <li><a href="#">HOME & LIVING</a></li>
        <li><a href="#">BEAUTY</a></li>
        <li><a href="#">STUDIO</a></li>
      </ul>
    </div>
  </div>
  <div class="header-right">
    <form action="">
      <button><i class="fa-solid fa-magnifying-glass"></i></button>
      <input type="text" placeholder="Search For Product">
    </form>
    <div class="profile-section">
      <div class="menu">
        <ul>
          <li><i class="fa-solid fa-user"></i><a href="#">Profile</a></li>
          <li><i class="fa-solid fa-heart"></i><a href="#">Wishlist</a></li>
          <li><i class="fa-solid fa-bag-shopping"></i><a href="#">Bag</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="banner">
  <!-- <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/31/4031994d-9092-4aa7-aea1-f52f2ae5194f1654006594976-Activewear_DK.jpg" alt=""> -->
  <img src="https://assets.myntassets.com/w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/7/25/b656a7f4-4688-4997-bb7c-54b78793981e1658752386588-Western-Wear_Desk.jpg" alt="">
</div>
<div class="brand-section">
  <h2>MEDAL WORTHY BRANDS TO BAG</h2>
  <div class="brand-item-container">
    <div class="brand-item">
      <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/8/3/51084b8a-9c9e-4b03-bc4a-dfd7738590eb1691076143197-image_png949061620--1-.png" alt="">
    </div>
    <div class="brand-item">
      <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/7/31/331d0d67-95de-4e58-b774-add891464af01690773011037-Calvin_Klein.png" alt="">
    </div>
    <div class="brand-item">
      <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/7/31/92d5e2ec-a736-4bfd-832b-6972121829c91690773010945-Aldo.png" alt="">
    </div>
    <div class="brand-item">
      <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/7/31/7aac1f32-1a1a-4ba6-924b-ee1c28553aed1690773011304-Nautica.png" alt="">
    </div>
    <div class="brand-item">
      <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/7/31/d400d2ce-5755-4c86-96b8-26899aea6ea61690773011130-GANT.png" alt="">
    </div>
    <div class="brand-item">
      <img src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2023/7/31/0c399e2c-9797-483d-bf6c-0852d5d21db21690773010989-BHPC.png" alt="">
    </div>
  </div>
</div>